.contact-edit {
    margin: 20px auto;
    background: var(--grey);
    border: 1px var(--grey) solid;
    width: 80%;
    border-radius: 10px;
}

.contact-edit input {
    width: 300px;
}

.contact-edit-container {
    line-height: 40px;
    padding: 20px;
    margin:50px auto;
    width: fit-content;
    background: #fff;
    border-radius: 10px;
}

.contact-edit-button {
    display: block;
    margin: 10px auto 0px;
}

