.pdf-page {
    width: 530px;
    /* height: 1759px; */
    font-size: var(--font-size-small);
    font-family: Arial, Helvetica, sans-serif;
}

.pdf-page-header {
    font-size: var(--font-size-large);
    text-align: center;
    margin-bottom: 10px;
    overflow-wrap: break-word;
}

.pdf-page-title {
    font-size: var(--font-size-medium);
    text-align: left;
    margin-bottom: 5px;
    overflow-wrap: break-word;
}

.pdf-page-address {
    font-size: var(--font-size-small);
    margin-bottom: 5px;
    overflow-wrap: break-word;
}

.pdf-page-facilities {
    font-size: var(--font-size-small);
    margin-bottom: 10px;
    overflow-wrap: break-word;
}

.pdf-image-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-item-container {
    position: relative;
    overflow: hidden;
}

.image-item {
    width: 100%;
    height: auto;
    display: block;
}

.pdf-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.pdf-page-logo-container {
    margin-right: 10px;
}

.pdf-page-logo-image {
    width: 100px;
}

.pdf-page-contact-detail {
    margin: 5px;
    font-size: 12px;
}

.pdf-page-contact-detail-title {
    font-size: var(--font-size-small);
    font-weight: 600;
}

.pdf-page-description {
    font-size: var(--font-size-small);
    overflow-wrap: break-word;
    white-space: pre-wrap;
    page-break-inside: avoid;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.pdf-page-disclaimer {
    padding: 10px;
    background-color: #ccc;
    border: 1px dashed black;
    page-break-inside: avoid;
}
