footer {
    color: #707070;
    background: var(--grey);
    width: 100%;
    border: 1px solid var(--grey);
    margin-top: 20px;
}

.footer-container {
    width: 90%;
    margin: 20px auto;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-container h4 {
    color: var(--dark-color);
    margin-bottom: 10px;
}

.footer-container a:hover {
    text-decoration: underline;
}

.column {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
}

.column address {
    font-style: normal;
}

.baysidetechstudio {
    text-align: center;
    margin-bottom: 20px;
}
@media (max-width: 576px) {
    .footer-container {
        margin: 0px auto;
        display: block;
        width: 90%;
        padding: 0px;
    }

    .column {
        flex: 1;
        padding: 0px;
        margin: 20px 0px 20px 0px;
    }

    .baysidetechstudio {
        width: 90%;
        margin: 10px auto;
    }
  }
